<footer>
    <section class="contenedor-pies">
        <article class="pie">
            <div>
                <i class="fas fa-credit-card icono"></i>
            </div>
            <div class="texto">
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con MercadoLiebreCash tenés cuotas sin<br> interés con tarjeta o efectivo en puntos de<br> pago. ¡Y siempre es seguro</p>
            </div>
        </article>
        <article class="pie">
            <div>
                <i class="fas fa-gift icono"></i>
            </div>
            <div class="texto">
                <h3>Envío gratis desde los $ 2.500</h3>
                <p>Solo por estar registrad@ en MercadoLiebre<br> tenés envíos gratis en miles de productos. Es<br> un beneficio de MercadoPuntos</p>
            </div>
        </article>
        <article class="pie">
            <div>
                <i class="fas fa-user-shield icono"></i>
            </div>
            <div class="texto">
                <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre<br> no hay nada que no puedas hacer porque<br> estás siempre protegid@</p>
            </div>
        </article>
    </section>
    <section class="copyright">
        <article class="texto">
            <h5>Copyright © 1999-2021 MercadoLiebre S.R.L.</h5>
        </article>
    </section>
</footer>