<header>
    <section class="seccion-logo-busqueda">
        <article class="logo-busqueda-boton">
            <img src="images/logo-mercado-liebre.svg" class="logo" alt="Logo MercadoLiebre" width="300px">
            <div class="caja-cuadro">
                <input type="search" placeholder="Buscar productos, marcas, etc." width="18px" class="casillero"></input>
                <div class="caja-boton">
                    <button type="submit" class="boton"><i class="fas fa-search"></i></button>
                </div>
            </div>

        </article>

        <article class="compra-tarjetas">
            <span class="leyenda"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</span>
        </article>
    </section>
    <br>

    <section class="contenedor-links">
        <nav class="navbar">
            <ul type="none" class="barra-nav1">
                <li class="lista1"><a href="#ofertas">Ofertas</a></li>
                <li class="lista2"><a href="#">Tiendas Oficiales</a></li>
                <li class="lista3"><a href="#">Vender</a></li>
                <li class="lista4"><a href="#">Ayuda</a></li>
            </ul>
            <ul type="none" class="barra-nav2">
                <li class="listaA"><a href="./register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li class="listaB"><a href="./login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li class="listaC"><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <article class="contenedor-burger">
            <div class="burger-menu">
                <a href=""><i class="fa fa-bars burger"></i></a>
            </div>
        </article>
    </section>

    <section>
        <img src="/images/img-home-banner.jpg" width="100%" class="banner" alt="Banner de ofertas">
    </section>
</header>