<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <main>
                <h2> Registro de usuario</h2>
                <article class="register-container">
                    <form method="POST" action="#" class="register-form">
                        <input type="text" placeholder="Nombre y apellido" name="name-lastname" class="name-lastname" required></input>
                        <input type="text" placeholder="Nombre  de usuario" name="username" class="username" minlength="6" required></input>
                        <input type="email" placeholder="E-mail" name="email" class="email" required title="Ingrese un correo electrónico válido."></input>

                        <h3 class="titulito">Fecha de nacimiento</h3>
                        <input type="date" value="mm/dd/yyyy" name="birthday" class="birthday"></input>
                        <input type="text" placeholder="Domicilio" name="address" class="address"></input>

                        <h3 class="titulito">Perfil de usuario</h3>
                        <div class="perfil-usu">
                            <div class="radio-item">
                                <input type="radio"><label class="radio-label">Comprador</label></input>
                            </div>
                            <div class="radio-item">
                                <input type="radio"><label class="radio-label">Vendedor</label></input>
                            </div>
                        </div>
                        <h3 class="titulito">Categorías de Interés</h3>
                        <div class="checkslist">
                            <div class="check-item">
                                <input type="checkbox"><label class="check-label">  Electro</label></input>
                            </div>
                            <div class="check-item">
                                <input type="checkbox"><label class="check-label">  Moda</label></input>
                            </div>
                            <div class="check-item">
                                <input type="checkbox"><label class="check-label">  Hogar</label></input>
                            </div>
                            <div class="check-item">
                                <input type="checkbox"><label class="check-label">  Juguetería</label></input>
                            </div>
                            <div class="check-item">
                                <input type="checkbox"><label class="check-label">  Vida Sana</label></input>
                            </div>
                        </div>
                        <h3 class="titulito">Foto de usuario</h3>
                        <input type="file" name="userpic" accept="image/*" class="userpic"></input>
                        <input type="password" class="password" name="password" placeholder="Contraseña" minlength="8" required></input>
                        <input type="password" class="password" name="password" placeholder="Confirmar contraseña" required></input>
                        <div class="botones">
                            <button type="submit" class="boton-sincolor"><a href="./" class="send-button"> Enviar<a/></button>
                            <button type="reset" class="reset-button"> Borrar datos</button>
                        </div>
                    </form>
                </article>
            </main>
    </body>
    <%- include('partials/footer') %>

</html>